#settings {

  margin:20px;

  .MuiCardHeader-title {
    font-size:20px;
  }

  .setting {
    padding:10px;
    margin-bottom:40px;
    .slider {
      width:50%;
    }
  }

}

@media only screen and (max-width: 768px) {

    #settings {
      .setting {
        .slider {
          width: 90%;
        }
      }
    }

}
